/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'segoe UI';
}

body{
    background-color: #0e1727;
}

a{
    text-decoration: none;
}